@use "../abstracts/variables";

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 7.2rem;
}

.nav-list {
  display: flex;
  gap: 3.6rem;
  color: map-get(variables.$colors, gray200);
  font-size: 2rem;


  & li.active {
    color: rgba(map-get(variables.$colors, light), 0.8);

    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      left: 0;
      width: 100%;
      height: .75px;
      background: map-get(variables.$gradients, outline-transition);
      opacity: .7;
    }
  }

  & li {
    color: inherit;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      color: map-get(variables.$colors, light);
      transform: scale(1.01) translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.logo {
  color: map-get(variables.$colors, light);
  font-size: 2.4rem;
  font-weight: 700;
}