$colors: (
  dark: #121212,
  light: #fafafa,
  gray100: #949494,
  gray200: #8f8f8f,
  primary-light: #CA6263,
  primary-dark: #B30000,
);


$gradients: (
  outline-transition: linear-gradient(to bottom, map-get($colors, light), map-get($colors, gray100)),
  primary: linear-gradient(to bottom right, #FF4E50, #B30000),
  dark-subtle: linear-gradient(to bottom right, rgba(map-get($colors, light), 0.015), rgba(map-get($colors, light), 0.015)) linear-gradient(to bottom right, map-get($colors, dark), map-get($colors, dark)),
  dark-subtle-2: linear-gradient(to bottom right, rgba(map-get($colors, light), 0.01), rgba(map-get($colors, light), 0.01)) linear-gradient(to bottom right, map-get($colors, dark), map-get($colors, dark)),
);